<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EliteTrading.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EliteTrading.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EliteTrading.AppSettings>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Max_Travel_Distance" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Max_Station_Star_Distance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Max_Jump_Distance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Max_Route_Length" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="minAveragePrice" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LPad" serializeAs="String">
                <value>False</value>
            </setting>
        </EliteTrading.AppSettings>
        <EliteTrading.UserSettings>
            <setting name="ShowSplash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Default</value>
            </setting>
        </EliteTrading.UserSettings>
    </userSettings>
</configuration>